source https://api.nuget.org/v3/index.json

nuget RabbitMQ.Client 5.0.1
nuget System.Configuration.ConfigurationManager 4.7.0
nuget Microsoft.Extensions.Logging 3.1.1

nuget FAKE 5.8.4

nuget Microsoft.NET.Test.Sdk 15.9.0
nuget NUnit3TestAdapter 3.12.0
nuget FluentAssertions 5.6.0
nuget NUnit 3.11.0
nuget Moq 4.10.1
nuget RestSharp 106.6.5
nuget Newtonsoft.Json 11.0.2